/*broader settings for the main content*/

.container {
    width: 95%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 2.5%;
    margin: 5% 2.5% 5%;
    padding-bottom: 7%;
    overflow: scroll; /*set it to scroll because it would flow over the footer in smaller screensizes*/
}

/*settings for everything concerning the picture tiles and their description*/

.picture {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr;
    border: 2px solid rgba(0, 0, 0, 0.8);
    background-size: cover;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    transition: 400ms;
}

.picture p {
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5%;
    text-align: center;
}

.picture:hover {
    font-size: 108%;
    filter: brightness(70%);
}

/*this targets the paragraphs in the divs*/

.meal {
    grid-row: 7;
}

.mealtime {
    grid-row: 8;
}

/*this are the background pictures for the tiles*/

#omelette {
    background-image: url(images/omelette.jpg);
}

#burger {
    background-image: url(images/burger.jpg);
}

#pizza {
    background-image: url(images/pizza.jpg);
}


#pancakes {
    background-image: url(images/pancakes.jpg);
}

#pasta {
    background-image: url(images/pasta.jpg);
}

#taco {
    background-image: url(images/taco.jpg);
}

#oatmeal {
    background-image: url(images/oatmeal.jpg);
}

#brownie {
    background-image: url(images/brownie.jpg);
}

#steak {
    background-image: url(images/steak.jpg);
}

/*This are the settings for the recipe of the month page*/

.recipe {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18vh;
}

.recipe ol {
    padding: 3vh 0;
}

.recipe ul {
    padding: 3vh 0;
}

#ingredients {
    font-weight: bold;
}