* {
  margin: 0;
  padding: 0;
}

/*The page has 3 parts: header, main and footer */
/*Header includes the link in the upper left corner, the links to Recipes, Recipe of the month and a search button. 
Lastly the navbar at the top. Only the link to the Recipe of the month works*/
/*main settings for the header*/
header {
  width: 100%;
  font-size: 120%;
}

header a {
  color: black;
  text-decoration: none;
}

/*this concerns the upper half of the header, including Logo and "explore"-section*/
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

/*upper left corner link to index page*/
.logo {
  font-family: "Courgette", cursive;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 250%;
  transition: 400ms;
}

.logo:hover {
  font-size: 255%;
}

/*link to Recipe of the month*/
.explore {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.explore a {
  padding: 1em;
  border-radius: 50%;
  border: 2px solid white;
  transition: 400ms;
}

.explore a:hover {
  font-size: 103%;
  border-color: black;
}

.explore button {
  border: white;
  background-color: white;
  font-size: 145%;
  transition: 400ms;
  padding: 0 0.75em;
}

.explore button:hover {
  font-size: 155%;
}

/*this concerns the navbar at the top*/
.navtop ul {
  list-style: none;
  border-top: 2px solid rgba(0, 0, 0, 0.8);
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: scroll;
}

.navtop ul li {
  transition: 400ms;
  padding: 1vw;
  margin: 1vh;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
}

.navtop ul li:hover {
  font-size: 103%;
  border-color: black;
}

/*Main is basically the container for the content*/
/*broader settings for the main content*/
.container {
  width: 95%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 2.5%;
  margin: 5% 2.5% 5%;
  padding-bottom: 7%;
  overflow: scroll; /*set it to scroll because it would flow over the footer in smaller screensizes*/
}

/*settings for everything concerning the picture tiles and their description*/
.picture {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8fr;
  border: 2px solid rgba(0, 0, 0, 0.8);
  background-size: cover;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  transition: 400ms;
}

.picture p {
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5%;
  text-align: center;
}

.picture:hover {
  font-size: 108%;
  filter: brightness(70%);
}

/*this targets the paragraphs in the divs*/
.meal {
  grid-row: 7;
}

.mealtime {
  grid-row: 8;
}

/*this are the background pictures for the tiles*/
#omelette {
  background-image: url(images/omelette.jpg);
}

#burger {
  background-image: url(images/burger.jpg);
}

#pizza {
  background-image: url(images/pizza.jpg);
}

#pancakes {
  background-image: url(images/pancakes.jpg);
}

#pasta {
  background-image: url(images/pasta.jpg);
}

#taco {
  background-image: url(images/taco.jpg);
}

#oatmeal {
  background-image: url(images/oatmeal.jpg);
}

#brownie {
  background-image: url(images/brownie.jpg);
}

#steak {
  background-image: url(images/steak.jpg);
}

/*This are the settings for the recipe of the month page*/
.recipe {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18vh;
}

.recipe ol {
  padding: 3vh 0;
}

.recipe ul {
  padding: 3vh 0;
}

#ingredients {
  font-weight: bold;
}

/*concerning the about page*/
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 0;
}

.about h1 {
  padding: 3vh;
}

.about h3 {
  padding: 2vh;
}

.about p {
  padding: 1vh;
}

/*Footer includes the bottom navbar, links to social media (I couldn't find the right icons) and the copyright*/
/*basic settings for the footer
it is made of two unordered lists and a div*/
footer {
  width: 100%;
}

.navbottom {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 3vh;
}

.navbottom li {
  display: inline-block;
  padding: 0 7vw;
  margin: 1vh;
  transition: 400ms;
}

.navbottom li:hover {
  font-size: 102%;
}

.navbottom a {
  color: white;
  text-decoration: none;
}

.socialmedia {
  padding-top: 1vh;
}

.navbottom div {
  padding: 1em 0;
}

.leftborder {
  border-left: 2px solid white;
}

/*Media includes the media queries for smartphone and tablet.*/
/*smartphone settings: the top navbar is hidden in very small screens*/
@media screen and (max-width: 480px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }
  .top {
    flex-direction: column;
  }
  .navtop {
    display: none;
  }
}
/*tablet settings*/
@media screen and (min-width: 481px) and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*This are settings for the whole page*/
body {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */